:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
}

@font-face {
  font-family: "hanken-grotesk";
  src: url("fonts/HANKENGROTESK-MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.attribution {
  grid-area: footer;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  display: grid;
  grid-template-areas:
    "col-result col-summary"
    "footer footer";
  justify-content: center;
  font-size: 18px;
  color: var(--light-lavender);
  font-family: "hanken-grotesk", sans-serif;
}
.col-result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  grid-area: col-result;
  border-radius: 25px;
  width: 300px;
  height: 450px;
  box-sizing: border-box;
  padding: 20px;
}
.col-result > h2 {
  text-align: center;
}
.col-summary {
  width: 300px;
  grid-area: col-summary;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--dark-gray-blue);
}
.global-result {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
}
.white {
  font-weight: bold;
  display: block;
  color: var(--white);
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comparison {
  text-align: center;
}

.score {
  margin: 0;
  font-size: 50px;
}
img {
  padding-right: 10px;
}
.col-summary > p,
button {
  display: flex;
  align-items: center;
  margin: 10px 18px;
  border-radius: 10px;
}
button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 25px;
  height: 50px;
  font-size: 18px;
  color: var(--white);
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
.col-summary > h2 {
  margin-left: 18px;
}
.reaction {
  padding: 12px;
  background-color: hsla(0, 100%, 67%, 0.1);
}
.visual {
  padding: 12px;
  background-color: hsla(234, 85%, 45%, 0.1);
}
.memory {
  padding: 12px;
  background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
  padding: 12px;
  background-color: hsla(166, 100%, 37%, 0.1);
}
.color-reaction {
  color: var(--light-red);
}
.color-visual {
  color: var(--cobalt-blue);
}
.color-verbal {
  color: var(--green-teal);
}
.color-memory {
  color: var(--orangey-yellow);
}
.score-cat {
  margin-left: auto;
}
.pourcentage{
    color: gray;
}
